/* Global Rules that affect the whole page */
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}
nav{

    background-color: rgb(121, 228, 255);
    padding: .5%;
    text-decoration: none;
}
/* Rules for the a tags */
a {
  text-decoration: none;
  padding: 10px;
}
/* Header for the user dashboard */
#dashhead{
  display: flex;

}
#dashUser{
  padding-left: 10px;
  color: rgb(121, 228, 255);
}

